python-vlc==3.0.102
pulsectl==18.8.0
aubio==0.4.7
music21==5.5.0
gspread==3.1.0
oauthclient==1.0.3
Django==2.2.13
google-cloud-speech==0.35.0
PyAudio==0.2.11
pafy==0.5.4
youtube-dl==2019.2.8
google-api-python-client==1.7.4
google-auth-oauthlib==0.2.0