{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block head %}
<link rel="stylesheet"type="text/css" href="{% static 'jqueryui/jquery-ui.min.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'jqueryui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" charset="utf8">
$(document).ready( function () {
menu('navabout');
});
</script>
<style>
</style>
{% endblock %}
{% block main %}
<div class="read">
    <h1>What is Zero ?</h1>
    <p>
        Shape is a <b>modem trace management tool</b> that allows modem experts and data scientists to collaborate on data projects that require a reliable and consistent modem trace data sets. It combines an efficient feature extraction tool that uses data flow caches and a user-friendly interface to handle data sets and explore meta-parameters.
    </p>
    <h1>What's Next ?</h1>
    <p>
        If you would like to contribute, please contact me. Among the next targets, the following ones have the priority:
        <ul>
        <li><b>Everything in browser</b>: The goal of the project is to have all the shape manager features.</li>
        </ul>
    </p>
    <h1>What is Zero ?</h1>
    <p>
        Shape is a <b>modem trace management tool</b> that allows modem experts and data scientists to collaborate on data projects that require a reliable and consistent modem trace data sets. It combines an efficient feature extraction tool that uses data flow caches and a user-friendly interface to handle data sets and explore meta-parameters.
    </p>
    <h1>What's Next ?</h1>
    <p>
        If you would like to contribute, please contact me. Among the next targets, the following ones have the priority:
        <ul>
        <li><b>Everything in browser</b>: The goal of the project is to have all the shape manager features.</li>
        </ul>
    </p>
</div><div class="read">
    <h1>About Shape</h1>
    <p>
        Working on it...
    </p>

</div>
{% endblock %}